<!DOCTYPE html>
{% load static %} 
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to My Book Finder</title>
    <script src="{% static 'js/jquery-3.5.0.min.js' %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
</head>
<body>
    <style>
        table, th, td {
            border: 0.5px solid blue;
        }
        p {
            display: block;
        }
        #listedBook{
            visibility: hidden;
        }
    </style>

    <h1>Book Finder</h1>
    <input id="search" placeholder="Title or Author">
    <button id="button" type="button" onclick="bookSearch()">Search Book</button>

    <table>
        <thead>
            <tr>
                <th>Book Name</th>
                <th>Author</th>
                <th>Likes</th>
                <th>Upvote</th>
            </tr>
        </thead>

        <tbody id="result">
            
        </tbody>
    </table>
    <div id="listedBook">
        <p></p>
    </div>

   <!-- Trigger the modal with a button -->
<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">5 Most Liked Book</h4>
      </div>
      <div class="modal-body">
        <p>Error !!!</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>


<script src="https://www.googleapis.com/books/v1/volumes?q="></script>
<script src="static/script.js"></script>
</body>
</html>